@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #fafafa;
    --card-foreground: #0f0f0f;
    --popover: #ffffff;
    --popover-foreground: #0f0f0f;
    --primary: #7c3aed;
    --primary-foreground: #ffffff;
    --secondary: #8b5cf6;
    --secondary-foreground: #ffffff;
    --muted: #fafafa;
    --muted-foreground: #0f0f0f;
    --accent: #8b5cf6;
    --accent-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #fafafa;
    --ring: rgba(124, 58, 237, 0.5);
    --chart-1: #7c3aed;
    --chart-2: #8b5cf6;
    --chart-3: #ef4444;
    --chart-4: #f59e0b;
    --chart-5: #10b981;
    --radius: 0.5rem;
    --sidebar: #ffffff;
    --sidebar-foreground: #0f0f0f;
    --sidebar-primary: #7c3aed;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #8b5cf6;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: rgba(124, 58, 237, 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
